{% extends 'base.html' %}

{% block content %}
<h1>Shop</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>{{ _('Product') }}</th>
            <th>{{ _('Initial price') }}</th>
            <th>{{ _('Seller') }}</th>
            <th>{{ _('Action') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product }}</td>
            <td>{{ product.initial_price }}</td>
            <td>{{ product.owner }}</td>
            <td>
                <form method="post" action="{% url 'bargain_init' %}" />
                    {% csrf_token %}
                    <input type="hidden" name="product" value="{{ product.id }}" />
                    <input type="hidden" name="buyer" value="{{ user.id }}" />
                    <input type="submit" class="btn btn-default btn-sm" value="{{ _('Bargain') }}" />
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
